:root{
    --purple: #6504B5;
    --lightgray: hsl(260, 10%, 95%);
    --gray: hsl(260, 10%, 85%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    margin: 0;
}
*{
    box-sizing: border-box;
}
.banner{
    background-color: var(--lightgray);
    padding: 1rem;
    text-align: right;
}
header{
    position: sticky;
    top: 0;
    text-align: center;
    border-bottom: 1px solid var(--gray);
    padding: 1rem 0;
    background-color: white;
    z-index: 99;
}
.logo{
    width: 200px;
    vertical-align: middle;
}
menu, menu>li{
    display: inline;
    padding: 0;
}
.main-menu{
    color: var(--purple);
    border-right: 1px solid var(--gray);
}
menu>li{
    vertical-align: middle;
    font-weight: bold;
    margin: 0 2em;
    font-size: 1.5rem;
}
.hero{
    background-image: url(./img/hero.jpg);
    background-position: center;
    background-size: cover;
}
.hero-container{
    color: white;
    padding: 100px 0;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
}
h1{
    margin: 0;
    font-size: 2.5rem;
    background-color: rgba(101, 4, 181, .5);
    padding: 1rem;
}
p{
    font-size: 1.25rem;
    padding: 0 2em;
}
.subtitle{
    font-size: 1.5rem;
}
.icons{
    text-align: center;
    position: relative;
    bottom: 60px;
    line-height: 75px;
}
.icons>img{
    border: 4px solid var(--gray);
    border-radius: 25px;
    width: 120px;
    margin: 0 1rem;
}

.left{
    float: left;
    margin-right: 1rem;
}
.right{
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.relative{
    position: relative;
}
img[alt="darius"], img[alt="marius"]{
    width: 300px;
}
img[alt="adopt"]{
    width: 50px;
    position: absolute;
}
.left>img[alt="adopt"]{
    top: 1rem;
    right: 1rem;
    filter: invert(1);
}
.right>img[alt="adopt"]{
    bottom: 1rem;
    left: 1rem;
}
img[alt="twins"]{
    float: right;
    width: 600px;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.clearfix{
    width: 1020px;
    margin: 0 auto;
    display: flow-root;
    padding: 2rem 0;
}
.chat{
    position: fixed;
    z-index: 99;
    bottom: 25px;
    right: 25px;
    padding: 1rem;
    background-color: var(--purple);
    border-radius: 50%;
    cursor: pointer;
    border: 5px solid white;
}
.chat>img{
    width: 80px;
    height: 80px;
    object-fit: contain;
}
h2{
    text-align: center;
    font-size: 2rem;
}
.terms{
    text-align: center;
}
.terms >p{
    text-align: left;
    display: inline-block;
    width: 30%;
    text-align: left;
    padding: 1rem;
    height: 200px;
    overflow: auto;
}
footer{
    background-color: var(--lightgray);
    padding: 1.5rem 3rem;
    margin-top: 40px;
    background-color: var(--purple);
    color: white;
}